---
layout: default
title: Photography
permalink: /photography/
description: Hi, I am Charalampos Kardaris and this is my photography. This is where I share photos I have taken in my trips and my leisure time.
---
{%- if site.data.photos.size > 0 -%}
  <div class="grid-container">
    {% for photo in site.data.photos %}
      {% assign href = "/photography/" | append: photo.name %}
      {% assign path = href | append: ".jpg" %}
      {% include responsive-image.html
          href=href
          path=path
          alt=photo.caption
          grid=true
          div_class="grid-item"
          img_class="grid-photo"
          caption=photo.caption
      %}
    {% endfor %}
  </div>
{%- else -%}
  <h4>No photos to show</h4>
{%- endif -%}
