---
layout: default
title: Software
permalink: /software/
description: Software created by Charalampos Kardaris.
---

<div id="software-page">
  <h1>Projects</h1>
  {% include software_table.html items=site.data.software.projects %}

  <details>
    <summary>Scripts</summary>
    {% include software_table.html items=site.data.software.scripts %}
  </details>

  <details>
    <summary>Contributions</summary>
    {% include software_table.html items=site.data.software.contributions %}
  </details>
</div>
