{% if include.reply %}
  {% assign label = "reply" %}
  {% assign type = "reply" %}
{% else %}
  {% assign label = "add comment" %}
  {% assign type = "comment" %}
{% endif %}

<noscript>
    <a class="action reply-label" tabindex="0" {% include comment-no-js.txt post=include.post repliesTo=include.id %}>{{ label }}</a>
</noscript>

<label class="action reply-label hidden-no-js" tabindex="0" for="reply-{{include.id}}">{{ label }}</label>

<form id="comment-form-{{include.id}}" class="input-form">

  <details>
    <summary>Name or nickname</summary>
    <span class="content">
      The name will be linked to your email address.<br>
      If you change your name, your old name will be replaced in all comments.<br>
      All comment data will be automatically encrypted with the <a href="/pgp-public-key.txt">public key</a>.
    </span>
  </details>
  <input type="text" id="username-{{include.id}}" class="input" required>
  <br>

  <details>
    <summary>Password</summary>
    <span class="content">
      The password is used to authenticate against your email address.<br>
      The password is linked to your email address after your first comment.<br>
      After the first comment, you have to keep using the same password.<br>
      All comment data will be automatically encrypted with the <a href="/pgp-public-key.txt">public key</a>.<br>
      You may change or reset your password at the <a href="/blog/account">account</a> page.
    </span>
  </details>
  <input type="password" id="password-{{include.id}}" class="input" required>
  <input type="checkbox" id="eye-{{ comment.id }}" class="eye-input">
  <label for="eye-{{ comment.id }}" tabindex="0" class="action">
    <span class="eye">{% include assets/eye.svg %}</span>
    <span class="eye-off">{% include assets/eye-off.svg %}</span>
  </label>
  <br>

  <details>
    <summary>Comment</summary>
    <span class="content">
      The comment can be markdown text.<br>
      All comment data will be automatically encrypted with the <a href="/pgp-public-key.txt">public key</a>.
    </span>
  </details>
  <textarea id="comment-input-{{include.id}}" class="input" required></textarea>
  <div id="comment-markdown-{{include.id}}" class="comment-markdown"></div>

  <button
    type="button"
    id="comment-submit-{{include.id}}"
    data-post-id="{{ include.post }}"
    data-post-title="{{ site.data.post_id_map[include.post]["title"] }}"
    class="comment-submit"
    tabindex="0"
  >send {{ type }} via email</button>

  <label class="action cancel-reply" tabindex="0" for="reply-{{include.id}}" id="cancel-reply-label-{{include.id}}">cancel</label>

  <input type="checkbox" id="preview-{{ comment.id }}" class="preview-input">
  <label for="preview-{{ comment.id }}" tabindex="0" class="action"></label>

</form>
