<div class="comments">
  <div class="top">
   <span class="title">Comments:</span>
   <input type="checkbox" id="reply-" class="reply-input">
   {% include comment-form.html id="" reply=false %}
  </div>
  <div class="content">
    {% assign comments = site.data.comments[page.id] %}
    {% if comments %}

      {% for comment in comments %}
        {% assign padding = comment.ancestors.size | times: 2 %}
        <input
          type="checkbox"
          id="toggle-{{ comment.id }}"
          class="toggle-input comment-{{ comment.id }}"
          style="padding-left: {{ padding }}em">
        <label
          for="toggle-{{comment.id}}"
          class="toggle-label comment-{{ comment.id}}"
          style="padding-left: {{ padding }}em"></label>
        <div
          id="comment-{{comment.id}}"
          class="comment comment-{{ comment.id }}"
          style="padding-left: {{ padding }}em">
          <span class="info">
            <span>{{ comment.name }} | </span>
            <time><a class="action" href="#comment-{{comment.id }}">{{ comment.date }} CET</a></time>
            {% if comment.ancestors.size > 1 %} | <a class="action" href="#comment-{{comment.ancestors | first }}">root</a> {% endif %}
            {% if comment.ancestors.size > 0 %} | <a class="action" href="#comment-{{comment.ancestors | last }}">parent</a> {% endif %}
            {% if comment.prev %} | <a class="action" href="#comment-{{comment.prev}}">prev</a> {% endif %}
            {% if comment.next %} | <a class="action" href="#comment-{{comment.next}}">next</a> {% endif %}
          </span>

          <div class="body">
            {% comment %}
                I put the <input> before the <div> so that I can style the div when <input> is checked.
            {% endcomment %}
            <input type="checkbox" id="reply-{{comment.id}}" class="reply-input">
            <div class="markdown">{{ comment.comment | markdownify }}</div>
            {% include comment-form.html id=comment.id reply=true %}
          </div>
        </div>
      {% endfor %}
    {% else %}
    No comments to show.
    {% endif %}
  </div>
</div>
{% include script.html script="send-email.js" %}
{% include style.html style="toggle-comments.css" %}
