{% if include.reply %}
  {% assign label = "reply" %}
  {% assign type = "reply" %}
{% else %}
  {% assign label = "add comment" %}
  {% assign type = "comment" %}
{% endif %}
<noscript>
    <a class="action reply-label" tabindex="0" {% include comment-no-js.txt repliesTo=include.id %}>{{ label }}</a>
</noscript>
<label class="action reply-label hidden-no-js" tabindex="0" for="reply-{{include.id}}">{{ label }}</label>
<form id="comment-form-{{include.id}}" class="comment-form">

  <details>
    <summary>Name or nickname</summary>
    <span class="content">
      The name will be linked to your email address.<br>
      If you change your name, your old name will be replaced in all comments.
    </span>
  </details>
  <input type="text" id="username-{{include.id}}" class="input" required>
  <br>

  <details>
    <summary>Password</summary>
    <span class="content">
      The password is used to authenticate against your email address.<br>
      The password is linked to your email address after your first comment.<br>
      After the first comment, you have to keep using the same password.<br>
      The password is sent in plaintext over email.<br>
      If you want extra security, you can encrypt your messages using this
      <a href="/pgp-public-key.txt">public key</a>.
    </span>
  </details>
  <input type="password" id="password-{{include.id}}" class="input" required>
  <input type="checkbox" id="eye-{{ comment.id }}" class="eye-input">
  <label for="eye-{{ comment.id }}" tabindex="0" class="action">
    <span class="eye">{% include assets/eye.svg %}</span>
    <span class="eye-off">{% include assets/eye-off.svg %}</span>
  </label>
  <br>

  <details>
    <summary>Comment</summary>
    <span class="content">
      The comment can be markdown text.
    </span>
  </details>
  <textarea id="comment-input-{{include.id}}" class="input" required></textarea><br>
  <button
    type="submit"
    tabindex="0"
    onclick="sendEmail({{ include.id }})"
  >send {{ type }} via email</button>
  <label class="action" tabindex="0" for="reply-{{include.id}}" id="cancel-reply-label-{{include.id}}">cancel</label>
</form>
