<div class="responsive-image {{include.div_class}}" style="text-align: center">
  {% if include.href %}
    <a href="{{ include.href }}" aria-label="Open photo: {{ include.alt }}">
  {% endif %}
      <img
        {% if include.img_class %}
          class="{{include.img_class}}
        {% endif %}
        src="{{ include.path }}" alt="{{ include.alt }}"

        {% assign include_file = "responsive" | append: include.path %}
        {% capture srcset %}
          {%- include {{ include_file}} -%}
        {% endcapture %}
        srcset="{{ srcset }}"

        {% if include.grid -%}
          {% comment %}
          We need adjust the 'sizes' according to the available space.
          The current margin left and right is 30px.
          And the current gap in the photo grid is 10px.

                                            2 * margin                          2 * margin - grid gap
          {% endcomment %}
          sizes="(max-width: 549px) calc(100vw - 2 * 30px), (max-width: 799px) calc((100vw - 2 * 30px - 10px) * 0.5), 240px"
        {%- else -%}
          sizes="min(100vw, 800px) - 60px"
        {%- endif %}
      >
  {% if include.href %}
    </a>
  {% endif %}

  {% if include.caption %}
    <div class="photo-caption" style="text-align: center;">
      <p><em>{{include.caption}}</em></p>
    </div>
  {% endif %}
</div>
