<script>
  function sendEmail(replyId = "") {
    const form = document.getElementById(`comment-form-${replyId}`);
    if (!form.checkValidity()) {
      return;
    }
    const username = document.getElementById(`username-${replyId}`).value.trim();
    const comment  = document.getElementById(`comment-input-${replyId}`).value.trim();

    const subject = "Comment: {{ page.slug }}";
    let body = `post: {{page.slug}}`;
    body += replyId ? `\nrepliesTo: ${replyId}` : "";
    body += `
name: ${username}
comment: |-
${comment.split('\n').map(line => "  " + line).join('\n')}
`;
    const mailto = "mailto:{{ site.mailto }}?subject=" + encodeURIComponent(subject) + "&Whatever&body=" + encodeURIComponent(body);
    window.open(mailto, "_blank");
  }
</script>
<style>
{% for comment in comments %}
  {% comment %}
    Hide if any parent comment is collapsed (checkbox is checked)
  {% endcomment %}
  {% for pid in comment.path %}
    {% if forloop.last %}
      {% comment %}
        Hide the details but live the comment info line.
      {% endcomment %}
      #toggle-{{pid}}:checked  ~ #comment-{{comment.id}} > .details { display: none; }
    {% else %}
      {% comment %}
        Hide all child comments
      {% endcomment %}
      #toggle-{{pid}}:checked  ~ #comment-{{comment.id}} { display: none; }
      #toggle-{{pid}}:checked  ~ #toggle-{{comment.id}} { display: none; }
      #toggle-{{pid}}:checked  ~ #toggle-label-{{comment.id}} { display: none; }
    {% endif %}
  {% endfor %}
{% endfor %}
</style>
