/**
 *  Buttons
 */
button {
  cursor: pointer;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p:not(.comments p), blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-top: $spacing-unit * .5;
  margin-bottom: $spacing-unit * .5;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

/**
 * Blockquotes
 */
blockquote {
  border-left: 0.3em solid $purple-border;
  padding-left: 0.75em;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre, code {
  margin: 0px;
}

code.highlighter-rouge {
  @include relative-font-size(0.9375);
  color: lighten($text-color, 10%);
  padding: 0.1em 0.2em;
  border: 0.1em solid $purple-border;
  background-color: $lavender;
  border-radius: 0.1em;
}

.comment-markdown code {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

.comment-markdown code, figure.highlight, div.highlighter-rouge {
  color: lighten($text-color, 10%);
  @include relative-font-size(1);
  padding: 0.5em 0.75em;
  background-color: $lavender;
  overflow-x: auto;
  border: 0.3em solid $purple-border;
  border-radius: 0.5em;
}

pre td {
    padding: 0px;
}

pre.lineno {
    padding-right: 12px;
    color:grey;
    border-right: 1px dotted grey;
    border-radius: 0px;
}

td.code {
    padding-left: 12px;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc($usable-width);
  max-width:              $usable-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Tables
 */
table:not(.post-table):not(.rouge-table) {
  color: lighten($text-color, 10%);
  position: relative;

  width: 100%;

  text-align: left;

  margin-bottom: $spacing-unit;

  // Padding
  th, td {
    padding: 0.4em 0.8em;
    border: 1px solid $lavender;
  }

  // Colors
  border-collapse: separate;
  border: 0.4em solid $purple-border;
  border-radius: 0.5em;

  th {
    background-color: $lavender;
  }
  tr:nth-child(even) {
    background-color: lighten($grey-color-light, 6%);
  }
}

/**
 *  Elements that need javascript are hidden by default
 *  and shown once <script> is executed.
 */
.hidden-no-js {
  display: none;
}
