/**
 *  Post list
 */
.blog-subtitle {
  margin-top: 0.5rem;
  margin-bottom: $spacing-unit;
}

.tag-title {
  @include relative-font-size(1.1);
  font-weight: bold;
  margin-bottom: 0.5em;
}

.post-table {
  border-collapse: collapse;

  .post-list-meta, .post-link {
    font-size: 1.1rem;
  }
}
