/**
 *  Colors for my website (syntax highlighting and UI).
 */

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$red: #D51A24;
$pink:  #F7C5C7;
$green: #307722;
$blue: #1C6ACA;
$yellow: #914d08;
$magenta: #655978;
$lavender: #eef;
// Not good enough contrast with $lavender.
// Do not use for text.
$purple-border: #837297;
$gray: #514E4D;

.color-magenta {
  color: $magenta;
}
