/**
 *  Comments
 */
@mixin info-line {
  font-size: 0.9em;
  color: $magenta;
}
.comments {
  padding-top: $spacing-unit * 0.5;
  padding-bottom: $spacing-unit * 0.5;
  border-top: $line;

  .action {
    color: $magenta;
    text-decoration: underline;
    cursor: pointer;
  }

  // Reply toggle button.
  .reply {
    display: none
  }

  .reply-label {
    color: $magenta;
    cursor: pointer;
    text-decoration: underline;
  }

  .reply:checked {
    & ~ .markdown {
      background-color: $lavender;
    }

    & ~ .reply-label {
      display: none;
    }

    & ~ .comment-form {
      display: block;
    }
  }

  // Comment form
  .comment-form {
    margin-top: 0.5em;
    display: none;

    details {
      color: $magenta;

      span {
        font-size: 0.8em;
      }
    }

    .comment-form-label {
      color: $magenta;
    }

    .info-label {
      background-color: $lavender;
      border-radius: 50%;
      border: 0.1em solid $purple-border;
      font-weight: bold;
      color: $magenta;

      // Make the label fixed sized circle.
      height: 1.1em;
      width: 1.1em;
      line-height: 1.1em;
      display: inline-block;
    }

    input {
      font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
      margin-bottom: 0.5em;
    }

    textarea {
      font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
      margin-bottom: 0.5em;
      width: 100%;
      min-height: 10em;
      resize: none;
    }

    button {
      font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
      background: $lavender;
      color: $text-color;
      border: 0.1em solid $purple-border;
      border-radius: 0.2em;
      text-decoration: none;
    }

    .send-email {
      margin-right: 0.5em;
    }
  }

  .top {
    margin-bottom: 1em;

    .title {
      margin-right: 0.5em;
    }
  }

  .content {
    .comment {
      margin-bottom: 1em;

      .info {
        @include info-line;
      }
    }

    p:not(:last-child) {
      margin-bottom: 0.5em;
    }

    // Comment toggle button logic.
    .toggle {
      display: none
    }

    .toggle-label {
      @include info-line;
      float: left;
      width: 2em;
      cursor: pointer;
    }

    .toggle-label::before {
      content: "[−]";
    }

    .toggle:checked ~ .toggle-label::before {
      content: "[+]";
    }

  }
}
