/**
 *  Comments
 */
@mixin info-line {
  font-size: 0.9em;
  color: $magenta;
}

.comments {
  padding-top: $spacing-unit * 0.5;
  padding-bottom: $spacing-unit * 0.5;
  border-top: $line;

  .action {
    color: $magenta;
    text-decoration: underline;
    cursor: pointer;
  }

  // Comment/reply toggle button.
  .reply-input {
    display: none
  }

  .reply-input:checked {
    & ~ .markdown {
      background-color: $lavender;
    }

    & ~ .reply-label {
      display: none;
    }

    & ~ .comment-form {
      display: block;
    }
  }

  // Comment form.
  .comment-form {
    margin-top: 0.5em;
    display: none;

    // Input labels with their explanations.
    details {
      color: $magenta;

      span {
        font-size: 0.8em;
      }
    }

    // Input field elements.
    .input {
      font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
      margin-bottom: 0.5em;
    }

    textarea {
      width: 100%;
      min-height: 10em;
      resize: none;
    }

    // Submit button.
    button {
      font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
      background: $lavender;
      color: $text-color;
      border: 0.1em solid $purple-border;
      border-radius: 0.2em;
      text-decoration: none;
      margin-right: 0.5em;
    }

    &:invalid {
      button {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  .top {
    margin-bottom: 1em;

    .title {
      margin-right: 0.5em;
    }
  }

  .content {
    // Comment hide/show toggle button.
    .toggle-input {
      display: none
    }

    .toggle-label {
      @include info-line;
      float: left;
      width: 2em;
      cursor: pointer;
    }

    .toggle-label::before {
      content: "[−]";
    }

    // Change the label that is the exact next sibling.
    .toggle-input:checked + .toggle-label::before {
      content: "[+]";
    }

    // Comment.
    .comment {
      margin-bottom: 1em;

      .info {
        @include info-line;
      }

      p:not(:last-child) {
        margin-bottom: 0.5em;
      }
    }
  }
}
