/**
 *  Copy button
 *
 *  https://remarkablemark.org/blog/2021/06/01/add-copy-code-to-clipboard-button-to-jeyll-site/
 */
pre.highlight {
  position: relative;

  &:hover > button {
    opacity: 1;
  }

  button {
    opacity: 0;
    color: $magenta;
    border-color: $magenta;
    background-color: $lavender;
    border-radius: .2em;
    transition:all 0.2s ease-out;
    font-size: 1.2em;

    // Move button to top-right
    // (needs parent with position: relative)
    position: absolute;
    top: 0;
    right: 0;

    &:active, &:focus, &:hover {
      opacity: 1;
      color: $lavender;
      background-color: $magenta;
    }
  }
}
