.tags {
    padding-top: 15px;
    border-top: $footnote-line;
}

.tag, #tag-cloud > a {
  text-decoration: underline;
  padding: 5px;
}

#tag-cloud {
    margin: $spacing-unit 0;
}

.subtitle {
  margin-top: $spacing-unit / 8;
  margin-bottom: $spacing-unit;
}

.photo-caption {
  margin-bottom: $spacing-unit;
}

#carousel-container > a {
  background-color: $grey-color-light;
  color: $grey-color-dark;
  padding: 5px 10px;
  border-radius: 5px;
}

h1, h2, h3, h4 {
    margin-top: $spacing-unit / 0.8;
}
