$line: 1px solid $grey-color-light;

/**
 * Site header
 */
.site-header {
  border-bottom: $line;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0.5rem 0;
}

.nav-selected {
  font-weight: bold;
}

.site-nav  {
  margin: 0.5rem 0;

  .page-link {
    color: $text-color;
    margin-right: 0.5em;
    @include relative-font-size(1.2);
  }
}

/**
 * Page content
 */
.page-content {
  flex: 1;
}

.post-meta {
  margin-bottom: $spacing-unit;
}

.post-list-meta, .post-link {
  font-size: 1.1rem;
}

.post-table {
  border-collapse: collapse;
}

/**
 * Posts
 */
.post-title {
  @include relative-font-size(1.625);
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0;
  font-weight: bold;
}

.post-content {
  h1, h2, h3 {
    font-weight: bold;
  }

  h1 { @include relative-font-size(1.2); }
  h2 { @include relative-font-size(1.1); }
  h3 { @include relative-font-size(1.0); }
}

/**
 *  Footnotes
 */
.footnotes {
    border-top: $line;
}

.footnote {
    padding-left: 0.1em;
}

/**
 *  Action elements.
 */
.action {
  color: $magenta;
  text-decoration: underline;
  cursor: pointer;
}

/**
 *  No script password elements.
 */
.password-change, .password-reset {
  margin-top: 0.5em;
}
