$header-height: $base-line-height * $base-font-size * 1.8;
$header-border: 1px;

/**
 * Site header
 */
.site-header {
  border-bottom: $header-border solid $grey-color-light;
  min-height: $header-height;

  // Positioning context for the mobile navigation icon
  position: relative;
  background: $background-color;
  width: 100%;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: $base-font-weight;
  line-height: $header-height;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color;
  }
}

.site-nav {
  float: right;
  line-height: $header-height;

  .nav-trigger, .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    right: $spacing-unit * .5;
    background-color: $background-color;
    text-align: center;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      float: right;
      width: 2em;
      line-height: 0;
      text-align: center;

      svg {
        fill: $text-color;
      }
    }

    #x-icon { display: none; }
    #hamburger-icon { display: block; }

    input {
      ~ .trigger { display: none; }
      ~ label #x-icon { display: none; }
      ~ label #hamburger-icon { display: block; }
    }

    input:checked  {
      ~ .trigger {
        display: block;
        position: fixed;
        top: $header-height + $header-border;
        left: 0;
        width: 100%;
        background: $background-color;
        border-bottom: $header-border solid $grey-color-light;
      }

      ~ label #x-icon { display: block; }
      ~ label #hamburger-icon { display: none; }
    }

    .page-link {
      display: block;
      padding: 0.5em;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/**
 * Page content
 */
.page-content {
  flex: 1;
}

.post-meta {
  margin-bottom: $spacing-unit;
}

.post-list-meta {
  font-size: 1.1rem;
}

.post-link {
  font-size: 1.1rem;
}

/**
 * Posts
 */
.post-title {
  @include relative-font-size(1.625);
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0;
}

.post-content {
  h1 { @include relative-font-size(1.5); }
  h2 { @include relative-font-size(1.4); }
  h3 { @include relative-font-size(1.3); }
  h4 { @include relative-font-size(1.2); }
  h5 { @include relative-font-size(1.1); }
  h6 { @include relative-font-size(1); }
}

/**
 *  Footnotes
 */
$footnote-line: 1px solid #e8e8e8;
.footnotes {
    border-top: $footnote-line;
}

.footnote {
    padding-left: 1px;
}
