@charset "utf-8";

// Define defaults for each variable.

$base-font-family: sans-serif !default;
$base-font-size:   1rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

// NOTE: Do not touch without checking side-effects.
// NOTE: Photography grid calculations rely on this value.
$spacing-unit:     30px !default;

// Width of the content area
// NOTE: Do not touch without checking side-effects.
// NOTE: Photography grid calculations rely on this value.
$content-width:    800px !default;
$usable-width: $content-width - 2 * $spacing-unit;

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "colors",
  "base",
  "layout",
  "syntax-highlighting",
  "tags",
  "copy",
  "blog",
  "photography",
  "social"
;
