$header-height: $base-line-height * $base-font-size * 1.8;

/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $header-height;

  // Positioning context for the mobile navigation icon
  position: relative;
  background: $background-color;
  width: 100%;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: $base-font-weight;
  line-height: $header-height;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color;
  }
}

.site-nav {
  float: right;
  line-height: $header-height;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    right: $spacing-unit / 2;
    background-color: $background-color;
    text-align: center;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      float: right;
      width: 36px;
      height: 48.6px;
      line-height: 0;
      text-align: center;

      > svg {
        fill: $text-color;
      }
    }

    #hamburger-icon {
        display: block;
    }

    #x-icon {
      display:none;
    }

    input  {
      ~ .trigger {
        clear: both;
        display: none;
      }

      ~ label #hamburger-icon {
        display: block;
      }

      ~ label #x-icon {
        display: none;
      }
    }

    input:checked  {
      ~ .trigger {
        display: block;
        position: fixed;
        top: $header-height + 2;
        //top: 0;
        left: 0;
        width: 100%;
        background: $background-color;
        border-bottom: 1px solid $grey-color-light;
      }

      ~ label #hamburger-icon {
        display: none;
      }

      ~ label #x-icon {
        display: block;
        position: fixed;
      }
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  //padding: $spacing-unit 0;
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  @include relative-font-size(1);
  color: $grey-color;
  margin-top: $spacing-unit / 8;
}

.post-list-meta {
  @include relative-font-size(1.13);
  color: $grey-color;
}

.post-link {
  @include relative-font-size(1.13);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(1.625);
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0;
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    @include relative-font-size(1.5);
  }

  h2 {
    @include relative-font-size(1.4);
  }

  h3 {
    @include relative-font-size(1.3);
  }

  h4 {
    @include relative-font-size(1.2);
  }

  h5 {
    @include relative-font-size(1.1);
  }

  h6 {
    @include relative-font-size(1);
  }
}

$footnote-line: 1px solid #e8e8e8;
.footnotes {
    border-top: $footnote-line;
}

.footnote {
    padding-left: 1px;
}
