$red: #D51A24;
$pink:  #F7C5C7;
$green: #307722;
$blue: #1C6ACA;
$yellow: #914d08;
$magenta: #655978;
$gray: #514E4D;

.highlight {
  .err   { color: $background-color; background-color: $red } // Error

  .c     { color: $gray } // Comment
  .cm    { color: $gray } // Comment.Multiline
  .cp    { color: $green } // Comment.Preproc
  .cpf   { color: $yellow } // Comment.PreprocFile
  .c1    { color: $gray } // Comment.Single
  .cs    { color: $gray } // Comment.Special

  .gd .x { color: $red    } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gh    { color: inherit } // Generic.Heading
  .gi    { color: inherit } // Generic.Inserted
  .gi .x { color: inherit } // Generic.Inserted.Specific
  .go    { color: inherit } // Generic.Output
  .gp    { color: inherit } // Generic.Prompt
  .gr    { color: $red    } // Generic.Error
  .gs    { font-weight: bold } // Generic.Strong
  .gt    { color: inherit } // Generic.Traceback
  .gu    { color: inherit } // Generic.Subheading

  .k     { color: $red; font-weight: bold; } // Keyword
  .kc    { color: $red; font-weight: bold; } // Keyword.Constant
  .kd    { color: $red; font-weight: bold; } // Keyword.Declaration
  .kp    { color: $red; font-weight: bold; } // Keyword.Pseudo
  .kr    { color: $red; font-weight: bold; } // Keyword.Reserved
  .kt    { color: $blue; } // Keyword.Type

  .n     { color: inherit }
  .na    { color: inherit } // Name.Attribute
  .nb    { color: $red   ; font-weight: bold; } // Name.Builtin
  .bp    { color: $red   ; font-weight: bold; } // Name.Builtin.Pseudo
  .nc    { color: inherit } // Name.Class
  .ne    { color: inherit; } // Name.Exception
  .nf    { color: $green; font-weight: bold; } // Name.Function
  .ni    { color: inherit } // Name.Entity
  .nl    { color: $red   ; font-weight: bold; } // Name.Label
  .nn    { color: inherit } // Name.Namespace
  .no    { color: inherit } // Name.Constant
  .nt    { color: $red    } // Name.Tag
  .nv    { color: inherit } // Name.Variable
  .vc    { color: inherit } // Name.Variable.Class
  .vg    { color: inherit } // Name.Variable.Global
  .vi    { color: inherit } // Name.Variable.Instance

  .o     { color: inherit } // Operator
  .ow    { color: inherit } // Operator.Word

  .m     { color: $magenta } // Literal.Number
  .mf    { color: $magenta } // Literal.Number.Float
  .mh    { color: $magenta } // Literal.Number.Hex
  .mi    { color: $magenta } // Literal.Number.Integer
  .il    { color: $magenta } // Literal.Number.Integer.Long
  .mo    { color: $magenta } // Literal.Number.Oct

  .s     { color: $yellow } // Literal.String
  .s1    { color: $yellow } // Literal.String.Single
  .s2    { color: $yellow } // Literal.String.Double
  .sb    { color: $yellow } // Literal.String.Backtick
  .sc    { color: $yellow } // Literal.String.Char
  .sd    { color: $yellow } // Literal.String.Doc
  .se    { color: $yellow } // Literal.String.Escape
  .sh    { color: $yellow } // Literal.String.Heredoc
  .si    { color: $yellow } // Literal.String.Interpol
  .sr    { color: $yellow } // Literal.String.Regex
  .ss    { color: $yellow } // Literal.String.Symbol
  .sx    { color: $yellow } // Literal.String.Other

  .w     { color: $gray } // Text.Whitespace

  .lineno, .gl { color: $gray } // Line Number
  .hll   { background-color: $pink } // Marked-lines
}
