---
layout: default_no_header
---
view all <a href="/photography">{{site.title}}' photos</a>
^^^
<div id="carousel-container">
  {% if page.previous_photo %}
    <a class="prev" href="/photography/{{ page.previous_photo.name }}">Previous</a>
  {% endif %}
  <div>{{ page.index}} / {{site.data.photos.size}}</div>
  {% if page.next_photo %}
    <a class="next" href="/photography/{{ page.next_photo.name }}">Next</a>
  {% endif %}
</div><br>

{% assign path = "/photography/" | append: page.photo.name | append: ".jpg" %}
{% include responsive-image.html
  href=path
  path=path
  alt=thumbnail.caption
%}
