---
layout: page
---
<style>
.post-table td {
  padding-bottom: 10px;
}

.td-date {
  padding-right: 10px;
}

.post-header {
  margin-bottom: 0px;
}

</style>

<div class="subtitle">
    subscribe
    <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>,
    view all <a href="/blog/tags">tags</a>
</div>

{%- if site.posts.size > 0 -%}
<table class="post-table">
  <tbody>
    {%- for post in site.posts -%}
      {%- include post-entry.html -%}
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    {%- endfor -%}
  </tbody>
</table>

{%- else -%}
<h4>No posts to show</h4>
{%- endif -%}
